---
layout: page
---
<div id="home">
  <div class="row">
    <!-- Aside Navigation  -->
    <aside id="aside" class="col-md-4">
      {% include aside.html %}
    </aside>

    <!-- career section -->
    <div id="protfolio" class="col-md-8">
      <section id="career">
        <article>
          <p class="title">ABOUT ME</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <br/><br/>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </article>
        <article class="exper">
          <p class="title">EXPERIENCE</p>
          <ul class="exper-list" style="margin-left: 0;">
            {% for exp in profile.experience %}
            <li class="meta">
              <p class="date">{{ exp.start }} - {{ exp.end }}</p>
              <p style="font-weight: normal; margin-top: 10px; margin-bottom: 10px;">{{ exp.experience }}</p>
              <p class="description">{{ exp.place }}</p>
              <p style="font-weight: normal; font-size: small;">{{exp.location}}</p>
              <p style="margin-top: 15px; font-weight: normal; font-size: unset; line-height: normal;">{{ exp.summary }}</p>
            </li>
            {% endfor %}
          </ul>
        </article>
        <article class="skills">
          <p class="title">SKILLS</p>
          <ul class="skill-list" style="margin-left: 0;">
            {% for _ in profile.skills %}
            <li class="skill">
              <p class="name">{{ _.skill }}</p>
              <div class="progress">
                <div class="progress-bar" style="width: {{ _.value }}%">
                  <div class="progress-value">{{ _.value }}%</div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </article>
      </section>
    </div>
  </div>
</div>